body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
section{
    height: 500px;
}
.header-section{
    background: url(images/top-banner.png) no-repeat;
    padding-bottom: 155px;
}
.half-side{
    width: 40%;
    float: left;
    padding-left: 5%;
}
.half-side img{
    width: 100%;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 28px;
}
span{
    color: orange;
}
p{
    font-size: 18px;
    color: gray;
}
a{
    text-decoration: none;
    background: linear-gradient(lightsalmon, tomato);
    padding: 12px 20px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 5px;
}
.bannar-section img{
    height: 450px;
    width: 450px;
}
h2{
    font-size: 40px;
}
.bannar-section{
    background: url(images/dream-bg.png) no-repeat right;
}
.experience-section{
    background: url(images/exp-bg.png) no-repeat left center;
    padding-bottom: 150px;
    padding-top: 50px;
}
.experience-section .half-side{
    box-shadow: 2px 2px 40px grey;
    margin-left: 3%;
    height: 350px;
    background: white;
}
.experience-section h3{
    color: orange;
}
footer{
    text-align: center;
}